@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');

main {
    margin: 1rem;
    font-family: Tinos, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

header {
    background-color: #28282B;
    height: 5rem;
    display: flex;
    align-items: center;
}

header * {
    display: inline-block;
}

header h1 a{
    font-size: 24pt;
    padding: 0.5rem;
    text-decoration: none;
    color: #f0ead6;
}

nav {
    margin-left: auto;
}

header ul {
    list-style-type: none;
    font-weight: bold;
    display: flex;
}

header li {
    margin: 0.5rem;
}

header li a {
    text-decoration: none;
    color: #f0ead6;
    font-size: 10pt;
}

header li a:hover {
    text-decoration: underline;
}

main {
    color: #f0ead6;
}

.spacer {
    margin: 0px auto;
}

main h3, p, a, li {
    font-size: 10pt;
}

main h2 {
    margin: 10px 0px;
}

main h3 {
    margin: 6px 0px;
}

main h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 24pt;
    margin: 0;
    margin-bottom: 8px;
}

main h2 {
    border-bottom: 1px solid #f0ead6;
    text-transform: uppercase;
    font-size: 11pt;
    padding: 0;
    padding-top: 5px;
}

main h3 {
    display: flex;
    font-size: 10pt; 
    padding: 0;
    padding-top: 8px;
    margin-bottom: 0;
    justify-content: space-between;
}

main p {
    margin: 0;
    padding: 0;
    display: flex;
}

main li > p {
    display: inline;
}

main a {
    font-weight: bold;
}

main ul {
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
    text-align: left;
    list-style-type: none;
}

main ul > li {
    margin-left: 0.15in;
    margin-right: -0.2in;
}

main ul > li:before {
    content: "•";
    position: absolute;
    margin: 0;
    margin-left: -0.2in;
}

.headerInfo > ul {
    
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0px auto 0px !important;
    padding: 0;
    padding-bottom: 11px;
}

.headerInfo > ul > li {
    display: inline;
    white-space: pre;
    margin-left: 0;
    margin-right: 0;
}

.headerInfo > ul > li:before {
    content: "";
}

.headerInfo > ul > li:not(:last-child) {
    margin-right: 3px;
}

.headerInfo > ul > li:not(:last-child):after {
    content: "•";
    margin-left: 3px;
}

.headerInfo a {
    text-decoration: none;
}

.my-role { 
    display: block;
    margin-top: 0;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16pt;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
  